{% extends 'products/productbase.html' %} 


{% block title %}shopping cart{% endblock%}

{% block content %}
<br>
<br>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{%url 'home'%}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->
    <div class="bg0 p-t-75 p-b-85" >
    <div class="container">
        <div class="row">
            <div class="col-lg-7  m-lr-auto m-b-100">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="">
                        <table class="table">
                            <thead class="table-dark">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-2">Price</th>
                                <th class="column-2 text-center">Quantity</th>
                            <th class="column-3">Total Price</th>
                                <th class="column-3">Actions</th>
                            </thead>
                            {% for cart_item in cart.items.all  %}
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        {% with product_image=cart_item.product_variant_color.productimage_set.first %}
                                        <img src="{{product_image.image.url }}" alt="IMG">
                                        {% endwith %}
                                    </div>   
                                </td> 
                                <td class="column-2"> {{ cart_item.product_variant_color.product_variant.product.name }} <br>
                                    {{ cart_item.product_variant_color.product_variant.variant.name }} <br>
                                    {{ cart_item.product_variant_color.color_variant.color }}</td>
                                <td class="column-3">$ {{ cart_item.price}}</td>

                                <!-- <td class=" text-center column-4"> -->
                                    <!-- <div class="qty-btn d-flex">
                                        <div class="quantity">
                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty{{ carts.id }}'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) { effect.value--; updateQuantity({{ carts.id }}, effect.value); } return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <input type="number" class="qty-text" id="qty{{ carts.id }}" step="1" min="1" max="300" name="quantity" value="{{ carts.quantity}}" onchange="updateQuantity({{ carts.id }}, this.value);">
                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty{{ carts.id }}'); var qty = effect.value; if( !isNaN( qty )) { effect.value++; updateQuantity({{ carts.id }}, effect.value); } return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div> -->
                                    <td class="column-4">
                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                            <form action="{% url 'decrement_quantity' %}" method="POST" class="quantity-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                                <button type="submit" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus" ></i>
                                                </button>
                                            </form>
                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="{{ cart_item.quantity }}" min="1" disabled>   
                                            <form action="{% url 'increment_quantity' %}" method="POST" class="quantity-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                                <button type="submit" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus" ></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                    
  

                                <!-- </td> -->
                                <td class="text-center">{{ cart_item.subtotal}}</td>
                                
                              
                                <td class=" text-center column-4">
                                    <form method="POST" action="{% url 'remove_from_cart' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                        <button type="submit">Remove</button>
                                    </form>
                                </td> 
                            </tr>
                            {% endfor %}
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                  </div>
                                {% endfor %}
                              </div>
                            {% endif %}
                        </table> 
                    </div>
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <form method="POST" action="{% url 'apply_coupon' %}">
                            {% csrf_token %}
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                                <button type="submit" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Apply coupon
                                </button>
                            </div>
                        </form>  
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Total No of Items : 
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                {{cart.total_items}}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-t-15 p-b-30">

                        <span class="mtext-110 cl2">
                            Total:{{cart.total_price_before_discount}}
                        </span>
                        
                        
                                {% for coupon in applied_coupons %}
                                <p>Applied coupon Code: {{ coupon.coupon.code }}</p>
                                <p>Discounted Amount: {{ coupon.amount_discounted }}</p>
                            {% endfor %}
                            

                        <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                            <p class="stext-111 cl6 p-t-2">
                           
                            </p>
                            
                            <div class="p-t-15">
                                <span class="stext-112 cl8">
                                    
                                </span>
                                    
                            </div>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="">
                            <span class="mtext-101 cl2">
                                To be paid:{{cart.total_price}} 
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                {{total_price}}
                            </span>
                        </div>
                    </div>
                   
                    

                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        <a href="{% url 'address' %}">Proceed to Checkout
                        </button></a> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>if (document.referrer.includes("/address/")) {
    const messagesDiv = document.querySelector(".messages");
    messagesDiv.innerHTML = '<div class="alert alert-danger" role="alert">Your cart is empty.</div>';
}</script>
{% endblock%}%