{% extends 'adminpages/baseadmin.html' %} 

{% block title %} Customer list {% endblock title %}

{% block content %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <!-- Search Form -->
                <form method="GET" action="{% url 'ordertableadmin' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="q" value="{{ search_query }}" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                            
                        </div>
                    </div>
                    
                </form>

                <div class="table-responsive">
                    <table class="table table-active">
                        <thead>
                            <tr>
                                <th class="bg-info text-light font-weight-bold">Order ID</th>
                                <th class="bg-info text-light font-weight-bold">Ordered By</th>
                                <th class="bg-info text-light font-weight-bold">Payment Status</th>
                                <th class="bg-info text-light font-weight-bold">Payment Method</th>
                                <th class="bg-info text-light font-weight-bold">Order Date</th>
                                <th class="bg-info text-light font-weight-bold">Delivery Date</th>
                                <th class="bg-info text-light font-weight-bold">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <th class="text-white" scope="row ">{{ order.id }}</th>
                                    <td class="text-white">{{ order.user }}</td>
                                    <td class="text-white">{{ order.status }}</td>
                                    <td class="text-white">{{ order.payment_method }}</td>
                                    <td class="text-white" style="padding: 5px;">{{ order.order_date }}</td>
                                    <td class="text-white" style="padding: 5px;">{{ order.delivery_date }}</td>
                                    <td class="text-white">
                                        {% if order.status == 'PENDING' or order.status == 'Payment Recieved' %}
                                            <a href="{% url 'cancel_orders_admin' order.id %}">
                                                <button type="button" class="btn btn-danger btn-sm mb-2">Cancel</button>
                                            </a>
                                        {% endif %}
                                        {% if order.status != 'CANCELLED' and order.status != 'DELIVERED' and order.status != 'SHIPPED' %}
                                            <a href="{% url 'Shipped_order' order.id %}">
                                                <button type="button" class="btn btn-success btn-sm mb-2">Shipped</button>
                                            </a>
                                        {% endif %}
                                        {% if order.status == 'SHIPPED' %}
                                            <a href="{% url 'Delivered_order' order.id %}">
                                                <button type="button" class="btn btn-primary btn-sm mb-2">Delivered</button>
                                            </a>
                                        {% endif %}
                                        <br>
                                        <a href="{% url 'order_viewadmin' order.id %}">
                                            <button type="button" class="btn btn-info btn-sm mb-2">View</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                
                <!-- Pagination Links -->
                {% if orders.has_other_pages %}
                <ul class="pagination">
                    {% if orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                
                    {% for num in orders.paginator.page_range %}
                        {% if num == orders.number %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                
                    {% if orders.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?&page={{ orders.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?&page={{ orders.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}
