{% extends 'adminpages/baseadmin.html' %} 
{% load static %}
{% block title %} view product {% endblock title %}

{% block content %}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        
    body { background-color: #fafafa; overflow-y: scroll; }
    /* Rest of the CSS styles */

        img { display: block; }
        .imgBox { width: 400px; height: 550px; }

        .container {
            max-height: 100vh; /* Set a maximum height for the container */
            
        }

        img[data-large] {
            cursor: pointer;
        }

        img[data-large]:hover {
            transform: scale(2.5);
            transition: transform 0.3s ease-in-out;
        }
		.imgBox {
  width: 100%;
  height: 100%;
}
    </style>
    
    <script type="text/javascript" src="{% static 'products/js/jquery.imgzoom.js' %}"></script>

    

    <!-- Navbar Start -->
    <div class="container-fluid">
		<h1 class="title text-White mb-4">
			{{ product.name }}
		</h1>
        <section>
            <div class="container">
                <div class="row gx-5">
                    <div class="row">
                        <aside class="col-lg-6 imgBox">
                            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                                {% for image in product.images.all %}
                                    {% if forloop.first %}
                                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="{{ image.image.url }}">
                                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ image.image.url }}" data-origin="{{ image.image.url }}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        
                            <!-- Large Image Overlay -->
                            <div id="largeImageOverlay" class="rounded-4">
                                <img id="largeImage">
                            </div>


							<div class="d-flex justify-content-center mb-3">
								{% for image in product.images.all %}
									{% if not forloop.first %}
										<a href="{{ image.image.url }}" target="_blank">
											<img width="60" height="60" class="rounded-2" src="{{ image.image.url }}" alt="Product Image" data-large="{{ image.large_image.url }}">
										</a>
									{% endif %}
								{% endfor %}
							</div>

							
                        </aside>
						
                        
                    </div>
                    
                    <main class="col-lg-6 col-12">
                        <div class="ps-lg-3">
                            <h6>Rating</h6>
                            <div class="d-flex flex-row my-3">
								
                                <div class="text-warning mb-1 me-2">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <span class="ms-1">
                                        4.5
                                    </span>
                                </div>
                                
                            </div>
							<span class="text-muted">
								<i class="fas fa-shopping-basket fa-sm mx-1"></i>
								{{ product.quantity_left }}
							</span>
							<span class="text-White ms-2">Items left</span>

                            <div class="mb-3">
                                <span class="h5 text-white">
                                   Price : ₹{{ product.price }}
                                </span>
                            </div>

                            <div class="mb-3">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
							<div class="mb-3">
                                <p>
                                    Variants:
                                    {% for variant in product.variants.all %}
                                        {{ variant.name }},
                                    {% endfor %}
                                </p>
                            </div>
                            

							
                        </div>
                    </main>
                </div>
            </div>
        </section>
    </div>
    <!-- Navbar End -->

       <!-- Button group -->
       <div class="container mt-4">
        <div class="btn-group" role="group" aria-label="Product Actions">
            <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
            {% if not product.product_deleted %}
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
            {% else %}
                <a href="{% url 'revoke_product' product.id %}" class="btn btn-warning">Revoke</a>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.imgBox').imgZoom({
            boxWidth: 200,
            boxHeight: 200,
            marginLeft: 100,
            origin: 'data-origin'
        });
    });
</script>
    
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);
  
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
</script>

{% endblock script %}
