{% extends 'products/productbase.html' %} 
{% load static %}
{% block title %} Signin {% endblock title %}

{% block content %}


                    <section class="background-radial-gradient overflow-hidden">
                        <style>
                          .background-radial-gradient {
                            background-color: hsl(218, 41%, 15%);
                            background-image: radial-gradient(650px circle at 0% 0%,
                                hsl(218, 41%, 35%) 15%,
                                hsl(218, 41%, 30%) 35%,
                                hsl(218, 41%, 20%) 75%,
                                hsl(218, 41%, 19%) 80%,
                                transparent 100%),
                              radial-gradient(1250px circle at 100% 100%,
                                hsl(218, 41%, 45%) 15%,
                                hsl(218, 41%, 30%) 35%,
                                hsl(218, 41%, 20%) 75%,
                                hsl(218, 41%, 19%) 80%,
                                transparent 100%);
                          }
                      
                          #radius-shape-1 {
                            height: 220px;
                            width: 220px;
                            top: -60px;
                            left: -130px;
                            background: radial-gradient(#44006b, #ad1fff);
                            overflow: hidden;
                          }
                      
                          #radius-shape-2 {
                            border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                            bottom: -60px;
                            right: -110px;
                            width: 300px;
                            height: 300px;
                            background: radial-gradient(#44006b, #ad1fff);
                            overflow: hidden;
                          }
                      
                          .bg-glass {
                            background-color: hsla(0, 0%, 100%, 0.9) !important;
                            backdrop-filter: saturate(200%) blur(25px);
                          }
                        </style>
                      
                        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
                          <div class="row gx-lg-5 align-items-center mb-5">
                            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                                <div class="mb-4">
                                    <a href=""><img src="{% static 'images/logo.png' %}" alt="IMG-LOGO" style="width:66%;"></a>
                              
                            </div>
                              
                              <h4><p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                                "To travel is to take a journey into yourself." <br> - Danny Kaye
                              </p></h4>
                            </div>
                      
                            <div class="col-lg-6 mb-5 mb-lg-0 position-relative" >
                              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                      
                              <div class="card bg-glass" style="width: 30rem;">
                                <div class="card-body px-5 py-5 px-md-5">
                                    <form method="post" style="width: 23rem;" action="{% url 'signin_mobile_otp' %}">
                                        {% csrf_token %} 
                                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #ff4057; font-weight: bold;">Log in</h3>
                    
                                        {% if messages %}
                                        <div class="alert alert-danger">
                                            <ul>
                                                {% for message in messages %}
                                                <li>{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                        
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                      <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="form2Example18" class="form-control form-control-lg" name="username" placeholder="Enter your username"/>
                                            <!-- <label class="form-label" for="form2Example18">User name</label> -->
                                        </div>
                                      </div>
                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example28" class="form-control form-control-lg" name="password" placeholder="Enter your password"/>
                                        <!-- <label class="form-label" for="form2Example28">Password</label> -->
                                    </div>
                                    <!-- Submit button -->
                                    <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
                                  </form>
                                </div>
                                <p class="small mb-2 pb-lg-2"><a class="text-muted" href="{% url 'signin' %}">Login with email otp</a></p>
                    
                                <p class="small mb-2 pb-lg-2"><a class="text-muted" href="{% url 'forgotpassword' %}">Forgot password?</a></p>
                                <p class="small mb-2 pb-lg-2">Don't have an account? <a href="{% url 'register' %}" class="link-info">Register here</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <!-- Section: Design Block -->
                    
                                        {% endblock content %}
                                        {% block content1 %}
                                        {% endblock content1 %}