{% extends 'products/productbase.html' %} 
{%load static%}
{% block title %} Product details {% endblock title %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style type="text/css">
    body { background-color:#fafafa;}
        img{display: block;}
        .imgBox{width: 100px;height: 100px;border: 1px solid #ffffff;}
		.zoom{ border : None;}
		.zoomWindowContainer {
        margin-top: 100px; /* Adjust the margin as needed */
    }
    </style>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{% static 'products/js/jquery.imgzoom.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>


	<!-- Product Detail -->
	<!-- breadcrumb -->
	<br>
	<div class="container mt-lg-5">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg ">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				{{product.category.name}}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{product.name}}
			</span>
			</span>
		</div>
	</div>
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
				
							<div class="slick3 gallery-lb">
								{% for product_image in productvariantcolor.productimage_set.all %}
								{% if forloop.first %}
								<!-- Main Image -->
								<div class="item-slick3 active imgbox " data-thumb="{{ product_image.image.url }}">
									<div class="wrap-pic-w pos-relative imgbox zoom">
										<img class="imgbox zoom" src="{{ product_image.image.url }}" alt="IMG-PRODUCT" data-origin="{{ product_image.image.url }}">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ product_image.image.url }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% else %}
								<!-- Additional Images -->
								<div class="item-slick3 imgbox" data-thumb="{{ product_image.image.url }}">
									<div class="wrap-pic-w pos-relative imgbox">
										<img class="imgbox" src="{{ product_image.image.url }}" alt="IMG-PRODUCT" data-origin="{{ product_image.image.url }}">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ product_image.image.url }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
				
						</div>
					</div>
				</div>
			
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14 text-danger font-weight-bold">
							{{product.name}}
							
						</h4>

						<span class="mtext-106 cl2">
							₹{{productvariantcolor.price}}
						</span>

						
						<p class="stext-102 cl3 p-t-23">
							Selected Variant : {{productvariantcolor.product_variant.variant.name}}
						</p>
						<p class="stext-102 cl3 p-t-23">
							Selected Color : {{productvariantcolor.color_variant.color}}
						</p>
					</div>
					
					<div class="flex-w flex-r-m p-b-10 mt-4 mb-4 ">
						<div class="row">
						<div class="size-204 flex-w flex-m respon6-next">
							<form method="post" id="add-to-cart-form">
								{% csrf_token %}
								<!-- Input fields for the data you want to send -->
								<input type="hidden" name="product_variant_color_id" value="{{ productVariantColorId }}">
								<!-- Add other input fields as needed -->
								
								<!-- Button to submit the form -->
								<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Add to Cart</button>
							  </form>
					    </div>
						<div>
					        <button class="bg-danger mt-3 flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addwish-detail" data-product-id="{{ productVariantColorId }}">
						    Add to Wishlist
					        </button>
						</div>

					    </div>
				
					<div class="container mt-4">
						<div class="card">
						  <div class="card-body">
							<div class="text-center">
							  <table class="table table-borderless table-sm">
								<thead>
								  <tr>
									<th>Available Variants</th>
									<th>Colors</th>
								  </tr>
								</thead>
								
								<tbody>
									
								  {% with product_variants=product.productvariant_set.all %}
									{% for product_variant in product_variants %}
									  <tr>
										
										<td class="">
												<a href="#" class="variant-link text-dark font-weight-bold " data-variant="{{ product_variant.id }}">{{ product_variant.variant.name }}</a>
											</td>
										<td>
										  <a class="color-ids font-weight-bold " id="color-ids-{{ product_variant.id }}"></a>
										</td>
									  </tr>
									{% endfor %}
								  {% endwith %}
								</tbody>
							  </table>
							</div>
						  </div>
						</div>
					  </div>

							
						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								
								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite"></i>
								</a>
							</div>
							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
						</li>

						

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									{{product.description}}
								</p>
							</div>
						</div>

						<!-- - -->
						

						<!-- - -->
						
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Related Products
				</h3>
			</div>
	
			<di<div id="productCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							{% for product_color in related %}
							{% with product_image=product_color.productimage_set.first %}
							{% if product_image %}
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="block2">
									<div class="block2-pic hov-img0">
										<img src="{{ product_image.image.url }}" alt="Product Image" class="blockimage">
										{% if product_color.stock > 0 %}
										<a href="{{ product_color.get_absolute_url }}" class="block2-btn flex-c-m cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
											Quick View
										</a>
										{% else %}
										<a href="{{ product_color.get_absolute_url }}" class="block2-btn flex-c-m cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 bg-danger">
											Out Of Stock
										</a>
										{% endif %}
									</div>
									<a href="{{ product_color.get_absolute_url }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 text-dark font-weight-bold">
										{{ product_color.product_variant.product.name }}
									</a>
			
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l">
											<div class="row mx-0">
												<span class="cl3 small text-dark font-weight-bold">
													{{ product_color.product_variant.variant.name }}
												</span>
												<span class="cl3 mx-3 small text-dark font-weight-bold">
													{{ product_color.color_variant.color }}
												</span>
											</div>
										</div>
										<span class="stext-80">
											{% if product_color.on_offer and product_color.offer_price %}
											<div class="row mx-0">
												<p><span style="text-decoration: line-through;" class="small">₹{{ product_color.price }}</span></p>
												<p class="small mt-1 ml-3 text-danger font-weight-bold">₹{{ product_color.offer_price }}</p>
											</div>
											{% else %}
											<p class="small mt-1 text-dark font-weight-bold">₹{{ product_color.price }}</p>
											{% endif %}
										</span>
			
										<div class="block2-txt-child2 flex-r p-t-3">
											<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
												{% if product_color.id in wishlist_items_product_variant_color_ids %}
												<a href="#" class="remove-from-wishlist dis-block pos-relative js-removedwish-b2" data-product-id="{{ product_color.id }}">
													<img id="heart-icon-{{ product_color.id }}" class="icon-heart2 dis-block trans-04" src="{% static 'images/icon/icon-heart-02.png' %}" alt="ICON" >
												</a>
												{% else %}
												<a href="#" class="add-to-wishlist dis-block pos-relative js-addwish-b2" data-product-id="{{ product_color.id }}">
													<img id="heart-icon-{{ product_color.id }}" class="icon-heart1 dis-block trans-04" src="{% static 'images/icon/icon-heart-01.png' %}" alt="ICON">
												</a>
												{% endif %}
											</a>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% endwith %}
							{% endfor %}
						</div>
					</div>
				</div>
			
				<!-- Add previous and next buttons -->
				<!-- Add your previous and next button code here -->
			
			</div>
			
		</div>
	</section>	
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script> 
	
	
	
	<script>
		$(document).ready(function() {
		  // Function to update the main image and reapply the zoom
		  function updateMainImage(imageUrl) {
			var mainImage = $('.imgbox img.imgbox.zoom');
			mainImage.attr('src', imageUrl);
			mainImage.data('zoom-image', imageUrl);
			mainImage.elevateZoom({
			  zoomWindowWidth: 400,
			  zoomWindowHeight: 400
			});
		  }
	  
		  // Initialize ElevateZoom for the first image
		  $('.imgbox.zoom img').elevateZoom({
			zoomWindowWidth: 400,
			zoomWindowHeight: 400
		  });
	  
		  // Add a click event handler to the additional images
		  $('.slick3 .item-slick3:not(.active)').on('click', function() {
			var imageUrl = $(this).find('img').attr('data-origin');
			updateMainImage(imageUrl);
		  });
	  
		  // Add a callback to update the zoom when changing slides with arrows
		  $('.slick3').on('afterChange', function(event, slick, currentSlide) {
			var imageUrl = $('.slick3 .item-slick3').eq(currentSlide).find('img').attr('data-origin');
			updateMainImage(imageUrl);
		  });
		});
	  </script>
	  

<script>
	$(document).ready(function() {
  // Function to load colors for a variant
  function loadColors(variantId, colorIdsElement) {
    // Make AJAX request to retrieve associated color IDs
    $.ajax({
      url: '/getcolorids/', // Update with your endpoint URL
      method: 'GET',
      data: { variant_id: variantId }, // Update parameter name to match the one used in the views.py file
      success: function(response) {
        colorIdsElement.empty();

        // Iterate over the color IDs
        response.color_ids.forEach(function(colorId) {
          // Retrieve the color name and slug from the server
          $.ajax({
            url: '/getcolorname/', // Replace with the endpoint URL that retrieves the color name and slug
            method: 'GET',
            data: { color_id: colorId }, // Update parameter name to match the one used in the views.py file
            success: function(colorResponse) {
              var colorName = colorResponse.color_name; // Assuming the response provides the color name
              var slug = colorResponse.slug; // Assuming the response provides the slug
              var productvariantcolorId = colorResponse.productvariantcolor_id; // Assuming the response provides the productvariantcolor_id

              // Create a new <td> element for each color
              var colorTd = $('<td>');

              // Create a link element with the color name
              var colorLink = $('<a>')
                .attr('href', '/productdetails/' + slug + '/' )
                .text(colorName);

              // Append the link to the <td> element
              colorTd.append(colorLink);

              // Append the <td> element to the table row
              colorIdsElement.append(colorTd);
            },
            error: function() {
              console.log('Error occurred while retrieving the color name');
            }
          });
        });

        
        
      },
      error: function() {
        console.log('Error occurred during AJAX request');
      }
    });
  }

  // Iterate over each variant link and load colors
  $('.variant-link').each(function() {
    var variantId = $(this).data('variant');
    var colorIdsElement = $('#color-ids-' + variantId);
    loadColors(variantId, colorIdsElement);
  });
});

	</script>
	
	
	
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>

<!--===============================================================================================-->
	
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
	

	<script>
		$(document).ready(function() {
		  $('#add-to-cart-form').submit(function(e) {
			e.preventDefault();
	  
			// Get the CSRF token value
			var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
	  
			// Get the product variant color ID
			var productVariantColorId = $('input[name="product_variant_color_id"]').val();
	  
			// Prepare the data to send in the request
			var formData = {
			  'csrfmiddlewaretoken': csrfToken,
			  'product_variant_color_id': productVariantColorId,
			  // Add other input fields and their values as needed
			};
	  
			// Make the AJAX request to add the item to the cart
			$.ajax({
			  url: '/addtocart/', // Update with the URL for your add_to_cart view
			  method: 'POST',
			  data: formData,
			  success: function(response) {
				// Handle the success response
				console.log(response);
				Swal.fire({
				  icon: 'success',
				  title: 'Success',
				  text: response.message,
				  timer: 3000, // Auto-close after 3 seconds
				  showConfirmButton: false
				});
			  },
			  error: function(xhr, status, error) {
				// Handle the error response
				console.log(error);
				Swal.fire({
				  icon: 'error',
				  title: 'Error',
				  text: 'An error occurred while adding the product to the cart.',
				  timer: 3000, // Auto-close after 3 seconds
				  showConfirmButton: false
				});
			  }
			});
		  });
		});
	  </script>

<script>
    $(document).ready(function() {
        $('.js-addwish-detail').on('click', function(e) {
            e.preventDefault();
            // Get the product variant color ID
            var productVariantColorId = $(this).data('product-id');

            // Make the AJAX request to add the product to the wishlist
            $.ajax({
                url: '/add_to_wishlist_product_detail/', // Replace with the URL for your add_to_wishlist view
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'product_variant_color_id': productVariantColorId,
                    // Add other input fields and their values as needed
                },
                success: function(response) {
                    // Handle the success response
                    console.log(response);
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: response.message,
                        timer: 3000, // Auto-close after 3 seconds
                        showConfirmButton: false
                    });
                },
                error: function(xhr, status, error) {
                    // Handle the error response
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while adding the product to the wishlist.',
                        timer: 3000, // Auto-close after 3 seconds
                        showConfirmButton: false
                    });
                }
            });
        });
    });
</script>

  
	  
	  
{% endblock content %}